
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
// @import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

$primary-color: #1759D5;
$secondary-color: #54B6E8;
$general-blue: #272B51;
$text-general-blue: #141969;
$dark: #325785;
$light-grey: #E7E7E7;
body{
  background-color: #fff;
  overflow-x: hidden;
}
@font-face {
  font-family: SourceHanSansTC-Bold;
  src: url("../font/SourceHanSansTC-Bold.otf");
}
@font-face {
  font-family: SourceHanSansTC-Medium;
  src: url("../font/SourceHanSansTC-Medium.otf");
}
@font-face {
  font-family: SourceHanSansTC-Light;
  src: url("../font/SourceHanSansTC-Light.otf");
}
h1{
  font-size: 2.75rem;
}
h2{
  font-size: 1.6rem;
}
h3{
  font-size: 1.2rem;
}
small{
  font-family: HelveticaNeue, arial, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 24px;
}
.SHSTC-fw-bold{
  font-family: "SourceHanSansTC-Bold", Fallback, sans-serif;
}
.SHSTC-fw-medium{
  font-family: "SourceHanSansTC-Medium", Fallback, sans-serif;
}
.SHSTC-fw-light{
  font-family: "SourceHanSansTC-Light", Fallback, sans-serif;
}
.text-highlight{
  font-size: 1.3rem;
  line-height: 1.6;
  color: rgba($general-blue,.66);
}
.bg-light-grey{
  background-color: rgba($light-grey, .8);
}
.bg-white-opacity-80{
  background-color: rgba(#fff,.9);
}
.btn{
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  border-radius: 2px;
  border-color: transparent;
  &:hover{
    border-color: transparent;
  }
}
.btn-primary{
  background-color: $primary-color;
  &:hover{
    background-color: lighten($primary-color,10);
  }
}
.txt-primary{
  color: $primary-color;
}
.txt-general-blue{
  color: $text-general-blue;
}
.txt-dark{
  color: $dark;
}
.txt-secondary{
  color: $secondary-color;
  &:hover{
    color: darken($secondary-color,10);
  }
}
.muzeum-nav{
  a{
    color: $text-general-blue;
    transition: all .1s;
    &:hover,
    &:focus,
    &:active{
      color: $secondary-color;
      text-decoration: none;
    }
  }
  li.active{
    a{
      color: $secondary-color;
      text-decoration: none;
    }
  }
  li.nav-item{
    @media screen and (max-width: 540px){
      padding-top: .3rem;
      padding-bottom: .3rem;
      border-bottom: 1px solid rgba($general-blue, .2);
      &:last-of-type{
        border-bottom: none;
      }
    }
  }
}
.border-bottom-light{
  border-bottom: 1px solid rgba($primary-color, .1);
}
.container-intro{
  @media screen and(min-width: 768px){
    width: 700px;
  }
}
.container-landing{
  @media screen and(min-width: 768px){
    width: 620px;
  }
}
.footer-icon-link{
  transition: all .2s;
  &:hover{
    opacity: .8;
  }
}
footer{
  background-color: $general-blue;
  color: #fff;
}
.wwd4{
  height: 200px;
}
.muzeum-pager{
  height: 200px;
  background: no-repeat $secondary-color;
  background-position: 90% 10%;
  background-size: contain;
  @media screen and (max-width: 540px){
    height: 80px;
  }
}
html{
  &.sticky-ft-wrap{
    @media screen and(min-width: 768px){
      min-height: 100%;
      position: relative;
    }
  }
  body{
    &.sticky-ft-btm{
      @media screen and(min-width: 768px){
        margin-bottom: 302px;
      }
    }
  }
}
.sticky-ft{
  footer{
    @media screen and(min-width: 768px){
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}
.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}